{{#if resultsItems}}
  <div class="row text-center heading-items">
    <h2>Refuse To Give Up {{itemsToKeep.length}} Item(s) And Unburden Yourself Of {{itemsToDiscard.length}} Item(s)</h2>
  </div>
{{else if keepItems}}
  <div class="row text-center heading-items">
    <h2>Refuse To Give Up {{filteredList.length}} Item(s)</h2>
  </div>
{{else if discardItems}}
  <div class="row text-center heading-items">
    <h2>Unburden Yourself Of {{filteredList.length}} Item(s):</h2>
  </div>
{{else}}
  <div class="row text-center heading-items">
    <h2>Total Items: {{filteredList.length}} </h2>
  </div>

  <div class="row text-center">
    {{#link-to "items.show" first.id class="btn btn-primary btn-lg button-show"}}Begin{{/link-to}}
  </div>
{{/if}}

{{#if resultsItems}}
  {{items-table model=itemsToKeep}}
  {{items-table model=itemsToDiscard}}
{{else}}
  {{items-table model=filteredList}}
{{/if}}
