{{#if resultsItems}}
  <div class="col-sm-10 col-sm-offset-2">
    <div class="col-sm-5">
      <h2>Refuse To Give Up {{itemsToKeep.length}} Item(s)</h2>
    </div>
    <div class="col-sm-5">
      <h2>Unburden Yourself Of {{itemsToDiscard.length}} Item(s)</h2>
    </div>
  </div>
{{else if keepItems}}
  <div class="row text-center heading-items">
    <h2>Refuse To Give Up {{filteredList.length}} Item(s)</h2>
  </div>
{{else if discardItems}}
  <div class="row text-center heading-items">
    <h2>Unburden Yourself Of {{filteredList.length}} Item(s):</h2>
  </div>
{{else}}
  <div class="row text-center heading-items">
    <h2>Total Items: {{filteredList.length}} </h2>
  </div>

  <div class="row text-center">
    {{#link-to "items.show" first.id class="btn btn-primary btn-lg button-show"}}Begin{{/link-to}}
  </div>
{{/if}}

{{#if resultsItems}}
  <div class="col-sm-10 col-sm-offset-2">
    <div class="row">
      <div class="col-sm-5">
        {{items-table model=itemsToKeep}}
      </div>
      <div class="col-sm-5">
        {{items-table model=itemsToDiscard}}
      </div>
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      {{items-table model=filteredList}}
    </div>
  </div>
{{/if}}
